.frame-container {
overflow: auto;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.container-current-frame {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 5px 0;
  border-radius: 3%;
  border: 2px solid ;
}

.button-frame {
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.button-del-frame {
  opacity:0.3;
  background-image: url('../../assets/images/icons/frame/frame-recyclebin.png');
  right: 0%;
}

.button-clone-frame {
  opacity:0.3;
  background-image: url('../../assets/images/icons/frame/frame-duplicate.png');
  right: 0%;
  bottom: 0%;
}

.button-current-number-frame {
  background-position: center;
  left: 0%;
  text-align: center;
  font-family: 'Roboto-Regular';
  font-size: 1em;
  font-weight: bold;
}

.button-move-frame {
  opacity:0.3;
  background-image: url('../../assets/images/icons/frame/frame-dragndrop.png');
  left: 0%;
  bottom: 0%;
}

.container-current-frame:hover .button-del-frame,
.container-current-frame:hover .button-clone-frame,
.container-current-frame:hover .button-move-frame {
  opacity:1;
  -webkit-transition: opacity .25s ease-in-out .0s;
  transition: opacity .25s ease-in-out .0s;
}

.over{
  border: 2px dashed #000;
}
