.landing-page-conteiner {
  overflow: auto;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: wheat;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.closed {
  display: none;
}

.landing-page__screenshot {
  display: flex;
  padding: 50px 0;
  background: grey;
}

.landing-page__screenshot_description {
  width: 40%;
  text-align: center;
  padding: 10% 3%;
}

#landing-page__screenshot_img {
  width: 60%;
  margin: 0 15px;
}

.landing-button {
  z-index: 101;
  width: 130px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #253737;
  background: #b69797;
  border-radius: 6px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
  text-shadow: #333333 0 1px 0;
  color: #e1e1e1;
  font-size: 17px;
}

.landing-button:hover {
  border: 1px solid #253737;
  text-shadow: #333333 0 1px 0;
  background: #416b68;
  background: -webkit-gradient(linear, left top, left bottom, from(#77b2b0), to(#416b68));
  background: -webkit-linear-gradient(top, #77b2b0, #416b68);
  background: -moz-linear-gradient(top, #77b2b0, #416b68);
  background: -ms-linear-gradient(top, #77b2b0, #416b68);
  background: -o-linear-gradient(top, #77b2b0, #416b68);
  background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
  color: #fff;
}

.landing-button:active {
  margin-top:1px;
  text-shadow: #333333 0 -1px 0;
  border: 1px solid #333333;
  box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  outline: none;
}

.landing-page__functionality_list{
  width: 60%;
  margin: 15px auto;
}

.landing-page__functionality_item {
  display: grid;
  grid-template-columns: 1fr 3fr ;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: "funImg funName"
  "funImg funDescription";
  height: 120px;
}

.landing-img {
  width: 40%;
  grid-area: funImg;
}

.landing-page__functionality_name {
  grid-area: funName;
  margin-top: 2px;
}

.landing-page__functionality_description {
  grid-area: funDescription;
  margin: 0;
}

.landing-page__autor {
  text-align: center;
  background: grey;
  height: 150px;
}

.landing-page__autor_link_wrap {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 6px;
  width: 50%;
  padding: 5px;
}

.landing-autor-img {
  width: 20%;
}

.landing-autor-img:hover {
  width: 16%;
}

footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 60px;
  background: black;
  color: wheat;
}

footer a {
  color:grey;
}

footer a:hover {
  color:grey;
  text-decoration: none;
}
