@import 'themeColors';
@import 'fonts';

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto-Regular';
}

.header {
  width: 100%;
  height: 30px;
  border: 1px solid;
}

.main {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 2fr 6fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "control frame canvas preview"
  "control frame canvas preview";
  margin: 10px 15px 42px 15px;
}

.conteiner {
  margin-top: 5px;
  width: 100%;
  // border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.541327);
}

.control-conteiner {
  grid-area: control;
  width: 100px;
}

.pen-size-conteiner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25px;
}

.pen-size-item {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  position: relative;
  background: rgb(182, 151, 151);
}

.pen-size-item:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #eee;
  border: 1px solid rgb(43, 85, 115);
}

.pen-size-item:nth-child(1):before {
  width: 5px;
  height: 5px;
}

.pen-size-item:nth-child(2):before {
  width: 8px;
  height: 8px;
}

.pen-size-item:nth-child(3):before {
  width: 11px;
  height: 11px;
}

.pen-size-item:nth-child(4):before {
  width: 14px;
  height: 14px;
}

.tools-conteiner {
  grid-area: pallete;
}

.tools-conteiner__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.tools-conteiner__item {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  height: 50px;
  width: 50%;
}

.tools-conteiner__item_button {
  margin: 1px;
  padding: 0;
  width: 46px;
  height: 46px;
  background: rgb(182, 151, 151);
  border: none;
  color: rgba(0, 0, 0, 0.541327);
  text-align: left;
  font-family: 'Roboto-Regular';
  font-size: 1em;
}

.tools-conteiner__item_button:hover,
.pen-size-item:hover,
.frame-add-button:hover {
  background: rgb(240, 234, 234);
}

.tools-conteiner__item_button:focus,
.frame-add-button:focus {
  outline: none;
}

.tools-conteiner__item_button-active {
  background: rgb(240, 234, 234);
}

img {
  margin: 0 auto;
  display: block;
}

.color-conteiner {
  grid-area: colors;
  height: 100px;
  position: relative;
}

.color-conteiner__primary,
.color-conteiner__secondary,
.color-conteiner__swap-colors {
  position: absolute;
  width: 50px;
  height: 50px;
}

.color-conteiner__primary {
  left: 5px;
  z-index: 100;
}

.color-conteiner__secondary {
  right: 5px;
  top: 35px;
}

.color-conteiner__primary_item,
.color-conteiner__secondary_item {
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
}

.color-conteiner__swap-colors {
  top: 55px;
  left: 5px;
  width: 25px;
  height: 25px;
}

.color-conteiner__swap-colors_button {
  margin: 0;
  padding: 0;
  background: black;
  width: 100%;
  height: 100%;
  border: none;
}

.frame-container {
  grid-area: frame;
  width: 170px;
  max-height: 700px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.frame-add-button {
  margin: 10px auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-family: 'Roboto-Regular';
  border-radius: 5%;
  font-size: 13px;
}

.buttonCarrentPage {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

// .container-current-frame {
//   width: 180px;
//   height: 180px;
//   position: relative;
//   margin: 5px 0;
// }

.button-frame {
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.canvas-conteiner {
  grid-area: canvas;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  background: grey;
}

.canvas-conteiner__canvas {
//  border: 3px solid rgb(201, 45, 45);
//  background-color: rgb(56, 223, 22);
}

.over {
  border: 2px dashed #000;
}

.preview-conteiner {
  border: 2px solid rgb(129, 121, 121);
  background: rgb(170, 164, 164);
  grid-area: preview;
  height: 300px;
  width: 300px;
  position: relative;
}
