.preview-conteiner:hover .preview-button {
  opacity:1;
  -webkit-transition: opacity .25s ease-in-out .0s;
  transition: opacity .25s ease-in-out .0s;
}

.control {
  display: flex;
  justify-content: center;
}

.control-fps {
 margin: 5px;
}

.preview-canvas {
  height: 260px;
  width: 100%;
}

.preview-button {
  background: url('../../assets/images/icons/preview/link.png') 58% 38%;
  position: absolute;
  opacity:0.3;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 0;
}
