.modal {
  display: block;
  width: 400px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: wheat;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}

.modal-guts {
  position: absolute;
  background: white;
  top: 30px;
  left: 0;
  width: 98%;
  height: 91%;
  overflow: auto;
  padding: 0;
  margin: 0;
  display: flex;
  border: 4px solid cadetblue;
}

.model-title {
  margin: 0 auto;
  text-align: center;
}

.modal-tip-conteiner__img,
.modal-tip-conteiner__descrip {
  display: flex;
  list-style-type: none;
}

.modal-tip-conteiner__img {
  width: 35%;
}

.modal-tip-conteiner__descrip {
  width: 65%;
}

.modal-tip-conteiner__img__list,
.modal-tip-conteiner__descrip__list {
  list-style: none;
}

.modal-tip-conteiner__img__list {
padding-left: 60px;
}

.modal-tip-conteiner__descrip__list {
  padding: 0;
}

.modal-tip-conteiner__descrip__list{
  color: rgb(182, 151, 151);
}
.modal-tip-conteiner__img__list__item {
  margin: 1px;
  padding: 0;
  width: 46px;
  height: 46px;
  background: rgb(182, 151, 151);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-tip-conteiner__descrip__list_item {
  margin: 7px 0;
  padding: 10px 0;
}
